#personalPhoto{
  height: 200px;
  border-radius: 50%;
  border: 3px solid black;
  margin:5px;
}

.contact {
  border: 1px solid black;
}

.social-media {
  height: 25px;
  margin: 5px;
}

#main{
  text-align: center;
  font-family: 'Niramit', sans-serif;
}

h2{
  text-align: center;
}

body {
  background-color: #F5F7F3;
  color: #1F1521;
}
