#personalPhoto{
  height: 200px;
  border-radius: 50%;
  border: 3px solid black;
  margin:5px;
}

.content {
  border: 1px solid black;
  padding: 1em;
}

.social-media {
  height: 25px;
  margin: 5px;
}

#main{
  text-align: center;
  font-family: 'Niramit', sans-serif;
  /* background-image: url("C:/Users/Sritha/Coding/portfolio/assests/computer-1836330_1920.png"); */

}

h2{
  text-align: center;
}

body {
  background-color: #F4F3F0;
  color: #1F1521;
}


#typewriter {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .1em solid black;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation: typing 5.5s steps(40) infinite, blink-caret 0.75s step-end infinite;
  -o-animation: typing 5.5s steps(40) infinite, blink-caret 0.75s step-end infinite;
  -moz-animation: typing 5.5s steps(40) infinite, blink-caret 0.75s step-end infinite;
  -webkit-animation: typing 5.5s steps(40) infinite, blink-caret 0.75s step-end infinite;
}


@-webkit-keyframes typing {
  from { max-width: 0 }
  to { max-width: 100% }
}
@-moz-keyframes typing {
  from { max-width: 0 }
  to { max-width: 100% }
}
@-o-keyframes typing {
  from { max-width: 0 }
  to { max-width: 100% }
}
@keyframes typing {
  from { max-width: 0 }
  to { max-width: 100% }

}

@-webkit-keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}
@-moz-keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}
@-o-keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}
